<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('layouts/head'); -%>
  </head>
  <body>
    <!-- Navigation-->
    <%- include('layouts/navbar'); -%>

    <!-- Page Content -->
    <main class="container text-center mt-5">
      <div class="jumbotron">
        <h1 class="display-4">Page Not Found</h1>
        <p class="lead">
          Oops! The page you're looking for does not exist or you don't have
          rights to access it
        </p>
        <hr class="my-4" />
        <p>Return to the <a href="/">homepage</a></p>
      </div>
    </main>

    <!-- Footer -->
    <%- include('layouts/footer') -%>

    <!-- JS -->
    <%- include('./layouts/scripts') -%>
  </body>
</html>
